@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: regular;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #121212;

}

.container {
    width: 400px;
    padding: 20px;
    margin: auto;
}

.logo {
    width: 65px;
    padding: 20px 0px 5px;
    margin: auto;
    overflow: hidden;
}

.logo img {
    margin-top: 50px;
    width: 100%;
}

h1 {
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: 44px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

form {
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;

}

.labelcontainer label {
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}

input {
    width: 100%;
    height: 50px;
    margin: 10px 0 5px 0;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 6px;
    background: none;
    border: 1px solid #6d6d6d;
    color: white;
}

input:hover {
    border: 1px solid white;
}

.usePhoneNo{
    margin: 5px 0 15px 0;
}

.usePhoneNo a{
    font-size: 14px;
    color: #1ed760;
}

.continuebtn {
    width: 100%;
    height: 50px;
    border: none;
    background: #1ed760;
    color: #121212;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 32px;
    cursor: pointer;
    transition: 0.1s ease;
}
.continuebtn:hover{
    transform: scale(1.04);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icon-btn {
    padding: 5px;
    background: #121212;
    margin-bottom: 8px;
    width: 100%;
    height: 50px;
    border: 1px solid #5a5a5a;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 32px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.1s ease;
}

.icon-btn img {
    width: 20px;
    /* padding:10px 0 ; */

    float: left;
    margin-left: 25px;
}

.icon-btn:hover {
    transform: scale(1.07);
    border: 1px solid white;
}

.or {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.or span {
    font-size: 18px;
    margin-bottom: 5px;
}

.signupdiv {
    display: flex;
   flex-direction: column;
   font-size: 16px;
   align-items: center;
   color: #cccccc;
   margin: 40px 0 40px 0;
}

.signupdiv a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.1s ease;
}
.signupdiv .signupLink{
    margin-top: 10px;
}
.signupdiv .signupLink:hover{
 transform: scale(1.05);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footer p{
    text-align: center;
    font-size: 12px;
    color: #a8a8a8;
}
.footer p a{
    color: #a8a8a8;
    transition: 0.2s ease;
}
.footer p a:hover{
    color: #1ed760;
}

@media screen and (max-width: 600px)
{
    .container{
        width: 375px;
    }
    h1{
        font-size: 40px;
        padding: 5px 15px 5px 15px;
        margin-bottom: 20px;
    }
}